.Benefit {
    padding: 25px 20px;
    @include md(){
        padding: 120px;
    }

    &__title {
        font-size: 15pt;
        font-family: baloo;
        color: $brand-secondary;
        @include md(){
            font-size: 24pt;
        }
    }

    &__body {
        font-size: 11pt;
        line-height: 1.4;
        @include md(){
            font-size: 14pt;
        }
    }

    &__image {
        margin-top: 2em;
        padding: 2em;

        &--right {
            width: 200px;
            margin-right: 0;
            @include md(){
                padding: 0;
                width: 400px;
            }
            &--first {
                padding-top: 60px;
            }
            &--neg-marg {
                @include md(){
                    padding-top: 60px;
                    margin-top: -200px
                }
            }
        }

        &--left {
            width: 200px;
            margin-left: 0;
            @include md(){
                padding: 0;
                width: 400px;
            }
            &--neg-marg {
                    @include md(){
                    margin-top: -200px
                }
            }
        }
    }
}
