.Services {
    padding: 50px 20px;
    background: url(/images/matex_custom_bracelet_background.png);
    -webkit-background-size: cover;

    &--background {
        background-color: rgb(242,241,241);
        padding-bottom: 50px;
    }

    &__title {
        font-size: 24pt;
        color: $brand-primary;
        font-weight: bolder;
        font-family: $title-font;
    }

    &__subtitle {
        font-size: 14pt;
        line-height: 1.4;
        padding: 0 20px 40px 20px;
        padding-bottom: 40px;
        @include md(){
            font-size: 16pt;
            padding-bottom: 70px;
        }
    }

    &__body {
        font-size: 16pt;
        line-height: 1.4;
        padding-bottom: 20px;
    }

    &__image {
        height: 90vh;
        position: relative;
        background: url(/images/matex_experience.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &__bracelet {
        // max-width: 90%;
        margin-bottom: 50px;
    }

    &__about {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        padding: 40px;
        color: white;

        &--title {
            font-size: 60px;
            font-family: $title-font;
        }
    }

    &__feature {
        &--description {
            display: inline-block;
        }
        &--image {
            width: 60px;
            @include md(){
                width: 100px;
            }
        }
    }
}
