.About {
    padding-top: 100px;
    height: 80vh;
    background-image: radial-gradient(circle, #f98927, $brand-secondary 60%);

    &--background {
        color: $brand-primary;
        border-top-style: solid;
        border-top-color: $brand-primary;
    }

    &__title {
        padding: 20px;
        font-family: $title-font;
        color: white;
        margin: auto;
        text-align: left;
        font-size: 3em;
        @include sm(){
            font-size: 4em;
        }
        @include md(){
            font-size: 5em;
        }

        &--secondary {
            padding-top: 70px;

            @include sm(){
                font-size: 4em;
            }
        }
    }

    &__body {
        color: black;
        // background-color: rgba(255,255,255,0.85);
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font-size: 24px;
    }
    &__image {
        height: 100vh;
        position: relative;
        background: url(/images/about/matex_yarn.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &__quote {
      padding: 15px;
      font-size: 1.5em;
      text-align: center;
      border-style: solid;
      border-radius: 30px;
      background-color: white;
      color: $brand-secondary;
      border-color: $brand-secondary;
    }
    &__time {
        width: 100%;
        margin: 50px 0px;

        &__image {
            max-width: 200px;
            margin: 0 auto;
            width: 100px;
            @include md(){
                width: 150px;
            }
            &--circle {
                margin: 0px auto;
                max-width: 40px;
            }
        }
        &__cell {
            padding: 10px;
            @include sm(){
                padding:30px;
            }
            &--line {
                background-image:url('/images/about/about_line.png');
                background-repeat:no-repeat;
                background-position:center;
            }
        }
    }
}
.neg-marg-top {
    margin-top: -35px;
}
