.Address {
    position: relative;
    border-radius: 0px 0px 5px 5px; 
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px 5px 5px 0px;

    &__expand {
        float: right;
        position: absolute;
        right: 0;
        padding-right: 10px;
        color: $brand-primary;
    }
}