.Footer {
    margin-top: 20px;
    padding: 25px 20px 10px 20px;
    background-color: $brand-primary;
    background-image: linear-gradient($gradient-blue, $brand-primary);
    text-align: center;
    box-shadow: inset 0px 3px 4px 1px rgba(0,0,0,.08);

    & a, p {
        text-decoration: none;
        color: #a2b2ba;
    }

    &__title {
        font-size: 9pt;
        margin-bottom: 15px;

        & a {
            color: white;
            padding: 0 7px;
        }
    }

    &__subtitle {
        font-size: 8pt;
        margin-bottom: 11px;

        & p {
            display: inline;
            padding: 0 10px;
        }
    }

    &__social {
        font-size: 13pt;
        margin-bottom: 12px;

        & a {
            padding: 0 5px;
            
            &:hover {
                color: white;
            }
        }
    }

    &__guava {
        font-size: 8pt;
        margin-bottom: 6px;
    }
}
