.navbar-default {
    border-width: 0 0 2px;
}

.navbar{
    position: absolute;
}

.navbar-primary {
    background-color: $navbar-default-user-bg;
}

.navbar-logo {
    margin-top: 11px;
    margin-right: 5px;
    margin-left: 10px;
}

.navbar-home,
.navbar-about {
    color: white;
    background-color: rgba(255,255,255,0);
    border-width: 0;
}

.navbar-default .navbar-home > li > a,
.navbar-default .navbar-about > li > a  {
    color: white;
}

.navbar-default .navbar-about > li > a:hover  {
    color: $brand-primary;
}

.navbar-home-click {
    @include md('max') {
        background-color: $brand-primary !important;
    }
}

.navbar-secondary {
    background-color: white;
    height: 35px;
    text-align: center;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,.05);

    &-button {
        border-right: 2px solid $navbar-default-user-bg;

        &-left {
            border-left: 2px solid $navbar-default-user-bg;
        }

        &:hover {
            background-color: $brand-secondary;
        }
    }

    &-padding {
        padding-top: 8px;
        padding-bottom: 6px;
    }

    &-link {
        color: #a2b2ba;
        font-size: 10pt;

        &:hover {
            color: white;
        }
    }

    &-body {
        padding-top: 40px;
    }

    &-active {
        background-color: $brand-secondary;
        color: white;
    }
}
