.Button--design {
    @include button($brand-secondary, false, 12pt);
    margin-bottom: 30px;
    padding: 1em;
    margin: 0 auto;
    margin-top: 10px;
    &:hover {
        transform: translateY(-1px);
        background-color: red;
        color: white;
        border-color: red;
    }
}
