.Button--design {
    @include button($brand-secondary, false, 12pt);
    margin-bottom: 30px;
    padding: 1em;
    margin: 0 auto;
    margin-top: 10px;
    &:hover {
        transform: translateY(-1px);
        background-color: red;
        color: white;
        border-color: red;
    }
}

.Button--product {
    @include button($brand-secondary, true, 11pt);
    outline: 0; 
    padding: 0px; 
    border: none;
    border-radius: 0px; 
}

.Button--modal {
    @include button($brand-secondary, false, 12pt, $transition: false);
    &:hover {
        transform: translateY(-1px);
    }
}

.Button--secondary {
    @include button($brand-secondary, false, 12pt, $transition: false);
    padding: 10px 20px; 
    &:hover {
        transform: translateY(-1px);
        background-color: rgba(241, 106, 1, 0.7);
        border: 2px solid rgba(241, 106, 1, 0.7);
        box-shadow: $box-shadow-hover;
    }
}

.Button--primary {
    @include button($brand-primary, false, 12pt, $transition: false);
    padding: 10px 20px; 
    &:hover {
        transform: translateY(-1px);
        background-color: rgba(0, 0, 170, 0.7);
        border: 2px solid rgba(0, 0, 170, 0.7);
        box-shadow: $box-shadow-hover;
    }
}

.Button--red {
    @include button($brand-red, false, 12pt, $transition: false);
    padding: 10px 20px; 
    &:hover {
        transform: translateY(-1px);
        background-color: rgba(208,67,40,0.7);
        border: 2px solid rgba(208,67,40,0.7);
        box-shadow: $box-shadow-hover;
    }
}

.Button--purple {
    @include button($brand-purple, false, 12pt, $transition: false);
    /*Esto es del boton y ya*/
    padding: 10px 20px; 
    &:hover {
        transform: translateY(-1px);
        background-color: rgba(116,72,157,0.7);
        border: 2px solid rgba(116,72,157,0.7);
        box-shadow: $box-shadow-hover;
    }
}

.Button--address {
    @include button($brand-primary, true, 11pt);
}