.Button--design {
    @include button($brand-secondary, false, 12pt);
    margin-bottom: 30px;
    padding: 1em;
    margin: 0 auto;
    margin-top: 10px;
    &:hover {
        transform: translateY(-1px);
        background-color: red;
        color: white;
        border-color: red;
    }
}

.Button--product {
    @include button($brand-secondary, true, 9pt, $full-size: false);
    padding: 5px;
    margin: 0px 5px;

    &--active {
        background-color: $brand-secondary;
        color: white;
    }
}

.Button--product--primary {
    @include button($brand-primary, true, 9pt, $full-size: false);
    padding: 5px;
    margin: 0px 5px;

    &--active {
        background-color: $brand-primary;
        color: white;
    }
}

.Button--modal {
    @include button($brand-secondary, false, 12pt, $transition: false);
    &:hover {
        transform: translateY(-1px);
    }
}

.Button--secondary {
    @include button($brand-secondary, false, 12pt, $transition: false, $border: false);
    background-image: linear-gradient($gradient-orange, $brand-secondary);
    padding: 10px 20px; 
    &:hover {
        transform: translateY(-1px);
        box-shadow: $box-shadow-hover;
    }
}

.Button--primary {
    @include button($brand-primary, false, 12pt, $transition: false, $border: false);
    background-image: linear-gradient($gradient-blue, $brand-primary);
    padding: 10px 20px; 
    &:hover {
        transform: translateY(-1px);
        box-shadow: $box-shadow-hover;
    }
}

.Button--red {
    @include button($brand-red, false, 12pt, $transition: false);
    padding: 10px 20px; 
    &:hover {
        transform: translateY(-1px);
        background-color: rgba(208,67,40,0.7);
        border: 2px solid rgba(208,67,40,0.7);
        box-shadow: $box-shadow-hover;
    }
}

.Button--purple {
    @include button($brand-purple, false, 12pt, $transition: false);
    padding: 10px 20px; 
    &:hover {
        transform: translateY(-1px);
        background-color: rgba(116,72,157,0.7);
        border: 2px solid rgba(116,72,157,0.7);
        box-shadow: $box-shadow-hover;
    }
}

.Button--address {
    @include button($brand-primary, true, 11pt);
}

.Button--card {
    @include button($text-color-secondary, true, 9pt, $text-color-secondary, $transition: false, $border: false);
    border-top: 1px solid #e8ebef;
    padding: 10px 20px;
    &:hover {
        color: $brand-secondary;
        font-weight: bold;
    }

    &--left {
        width: 50%;
        border-right: 1px solid #e8ebef;
    }

    &--right {
        width: 50%;
        border: none;
        border-top: 1px solid #e8ebef;
        
        &:hover {
            color: red;
        }
    }
}

.Button--order-item {
    @include button($text-color-secondary, true, 7pt, $text-color-secondary, $transition: true, $border: false);
    margin-top: 15px;
    display: block;
    padding: 6px;
}