.Card {
    margin-bottom: 20px;
    background-color: white; 
    padding: 15px 25px 15px 25px; 
    border-radius: 3px; 
    box-shadow: 0px 10px 25px 2px rgba(0,0,0,.05);

    &--dashboard {
        height: 280px;
        border-top: 2px solid $gradient-blue;

        &--half-size {
            border-top: 2px solid $gradient-blue;
            height: 130px;
        }
    }

    &--order {
        margin-bottom: 5px;
        box-shadow: 0px 2px 3px 1px rgba(0,0,0,.08);
        height: 150px;
        overflow-y: scroll;
    }

    &--double-pd {
        padding: 20px 50px 20px 50px;
    }

    &--sunken{
        box-shadow: inset 0 3px 6px 1px rgba(0,0,0,.08), inset 0 7px 14px 1px rgba(50,50,93,.1);
    }
    &--thumbnail {
        height: inherit;
        padding: 8px 8px 8px;
        color: rgb(99, 107, 111);
        background-color: #f5f7f8; 
        position: relative;
        margin: 0;
        box-shadow: 0px 2px 3px 1px rgba(0,0,0,.08);
    }

    &--address {
        background-color: #f5f7f8;
        border: 2px solid transparent;
        
        & a {
            text-decoration: none;
            color: $text-color;
        }

        &--selected {
            border: 2px solid $brand-primary;

            & a {
                color: $brand-primary;
            }
        }
    }

    &__header {
        border-bottom: 2px solid rgb(221, 221, 221);
        font-size: 9pt;
        padding-bottom: 5px;
    }

    &__title {
        color: $brand-secondary;
        font-weight: bold;
        font-size: 12pt;
    }

    &__body {
        color: $text-color;
        font-size: 10pt;
        line-height: 17px;

        &--disclaimer {
            color: #f5f7f9;
            font-size: 8pt;
        }
    }

    &__chevrons {
        font-size: 13pt;
        position: absolute;
        bottom: 42px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        & a {
            color: $brand-secondary;
        }

        &--left {
            margin-right: 3px;
        }

        &--right {
            margin-left: 3px;
        }
    }

    &--disclaimer {
        position: absolute;
        top: 35%;
        right: 0px;
        z-index: 100;
        width: 220px;
        background-color: rgba(69,135,156,0.9);
        border: 2px solid darken(rgb(69,135,156), 4);
        transition: none;
        
        &__close {
        color: lightgrey;
        position: absolute;
        top: 16px;
        right: 15px;
            &:hover {
                color: white;
                cursor: pointer;
            }
        }

        &--hidden {
            width: 40px;
            transition: all 0.25s linear;
        }
    }
}