.Form {
    display: block;
    width: 100%;
    line-height: 1.5;
    border: none;
    border-bottom: solid 1px lightgrey;
    color: black;
    box-shadow: none;
    font-weight: normal;
    // height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 0px;
    &:focus {
        outline: none;
        border-bottom: solid 2px $brand-primary;
    }
    &__select {
        line-height: 1.5;
        border: none;
        border-bottom: solid 1px lightgrey;
        color: black;
        box-shadow: none;
        font-weight: normal;
        padding: 1px;
        font-size: 14px;
        border-radius: 0px;
        display: inline-block;
        position: relative;
        padding-right: 10px;
        &:hover {
            border-bottom: 2px solid $brand-primary;
            color: $brand-primary;
        }
        &:before {
            content: "\f107";
            font-family: FontAwesome;
            position: absolute;
            right: 5px;
            top: 5px;
            pointer-events: none;
        }
    
        &--full-width {
            width: 100%;
            margin-bottom: 20px;
        }

        & select {
            padding: 5px 8px;
            width: 110%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            &:hover {
                cursor: pointer;
            }
            &:focus {
                outline: none;
            }
        }
    }
    &--error {
        border-bottom: solid 2px red;
        &:focus {
            outline: none;
            border-bottom: solid 2px red;
        }
    }
}