.Icon {
    height: 80px !important; 
    position: absolute;
    top: 0;
    right: 0;
    &__more {
        position: absolute;
        bottom: 0;
        right: 5%;
        background-color: transparent;
        border: none;
        &:focus {
            outline: none;
        }
        &--element {
            display: block;
            color: inherit;
            height: 33%;
            &:hover {
                color: $brand-red;
            }
        }
    }
}