.Icon {
    visibility: hidden;
    height: 80px !important; 
    position: absolute;
    top: 0;
    right: 0;
    &__more {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: transparent;
        border: none;
        &:focus {
            outline: none;
        }
        &--element {
            display: block;
            color: #a2b2ba;
            height: 33%;
            font-size: 10pt;
            padding-top: 5px;
            border-top: 1px solid #ebeef2;
            &:hover {
                color: #546e7a;
            }

            &--no-border {
                border: none;
            }
        }
    }
}