.Map {
    height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

    &__section {
    	height: 70vh;
    	position: relative;
    }

    &__text {
        position: relative;
    	z-index: 2;
    	margin-top: 10px;
    	padding: 5px;
    	color: white;
    	background-color: rgba(42, 54, 71, 0.8);
    }
}
