.Modal {
    max-width: 400px;
    margin: 60px auto;
    background: rgba(255,255,255,1);
    width: 70%;
    border-radius: $border-radius-base;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    position: relative;

    &__background {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        transition: opacity .3s ease;
        overflow-y: scroll;
    }

    &__header {
        margin-top: 0;
        font-size: 13pt;
        color: $brand-primary;
        text-align: center;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__description {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 11pt;
        color: black;
        text-align: justify;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__body {
        margin: 20px 0 50px;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__footer {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    &__checkbox {
        text-align: left;
    }
    &__close {
        float: right;
        color: lightgrey;
        padding: 20px 30px;
        position: absolute;
        right: 0;
        &:hover {
            color: grey;
            cursor: pointer;
        }
    }

    &--wide {
        max-width: none;
        width: 90%;
    }
}

.Blur {
    transition: 0.1s filter ease-in;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

/*
* The following styles are auto-applied to elements with
* v-transition="modal" when their visiblity is toggled
* by Vue.js.
*/

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
