.Order {
    
    &__design {
        position: relative;
        background-color: white;
        display: block;
        box-sizing: border-box;
        height: 80px !important;
        width: 80px !important;
        border-radius: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 15px;
        box-shadow: 0px 3px 5px 2px rgba(0,0,0,.08);

        &__link {
            cursor: zoom-in;
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 80px; 
            height: 80px; 
        }

        &__title {
            text-align: center;
            margin-top: 0px;
            font-size: 13pt;
            color: $text-color;
            font-weight: bold;
        }
    }
    &__title {
        font-size: 13pt;
        color: #F16A01;
        text-align: center;
        margin-bottom: -20px;

        &--blue {
            color: #0000AA;
        }
    }

    &__table-header {
        text-align: center;
        font-size: 9pt;

        & table {
            margin: -10px 0 10px 0;
        }
    }

    &__items {
        margin-bottom: -20px;

        & * {
            text-align: center;
            font-size: 9pt;
            margin-bottom: 1px;
        }
    }

    &__prices {
        margin-top: 40px;
        font-size: 9pt;

        &--subtotal {
            margin-bottom: -15px;
        }

        &--total {
            font-size: 10pt;
            color: $brand-secondary;
        }
    }

    &__address {
        font-size: 10pt;
    }

    &__thumbnail {
        margin-top: 15px;
        display: inline-block;
        margin-left: -5px;
    }

    &__index {
        &__detail {
            vertical-align: top;
            margin-top: 15px;
            margin-left: 15px;
            @include sm('max') {
                margin-left: 5px;
            }
            display: inline-block;
        }

        &__amount, &__name, &__price {
            font-size: 9pt;
            @include sm('max') {
                font-size: 8pt;
            }
        }
        
        &__amount {
            font-weight: bold;
            display: inline;
        }

        &__name {
            padding: 0 2px;
            display: inline;
        }

        &__price {
            padding: 0 3px;
            color: #a2b2ba;
            display: inline;
        }

        &__total {
            color: $brand-secondary;
            padding-top: 20px;
            margin-bottom: -3px;
        }
    }

    &__hr {
        margin: 15px 0 5px 0;
    }
}