.Scroller {
    position: absolute;
    top: 30px;
    color: lightgrey;
    &--left {
        left: -20px;
    }
    &--right {
        right: -20px;
    }
    &:hover {
        color: grey;
        cursor: pointer;
    }
}

.Scroll__container {
    overflow-x: auto; 
    white-space: nowrap;
}
.Scroll__element {
    display: inline-block; 
    float: none; 
    margin-right: 15px;
}