.Thumbnail {
    &:nth-child(odd) {
        padding-right: 5px
    }
    &:nth-child(even) {
        padding-left: 5px;
    }
    &--image {
        height: 100px !important; 
        background-color: white;
    }
}