.Thumbnail {
    padding-top: 5px;

    &:nth-child(odd) {
        padding-right: 5px
    }
    &:nth-child(even) {
        padding-left: 5px;
    }
    &--image {
        height: 100px !important; 
        background-color: white;
        cursor: zoom-in;
    }

    &__text {
        color: $text-color;
        margin-top: 7px;
        margin-bottom: -4px;
    }
}