//Media query mixins

//Extra small devices
@mixin xs($width: 'min') {
    @media (#{$width}-width: $break-extra-small) {
        @content;
    }
}
//Small devices (landscape phones)
@mixin sm($width: 'min') {
    @media (#{$width}-width: $break-small) {
        @content;
    }
}

//Medium devices (tablets)
@mixin md($width: 'min') {
    @media (#{$width}-width: $break-medium) {
        @content;
    }
}

//Large devices (desktops)
@mixin lg($width: 'min') {
    @media (#{$width}-width: $break-large) {
        @content;
    }
}

//Extra large devices (large desktops)
@mixin xl($width: 'min') {
    @media (#{$width}-width: $break-extra-large) {
        @content;
    }
}

//Button mixins
//Background color es el color de backkground del boton, transparent determina si el boton será transparente por dentro, color determina el color del font (si es transparente, será del mismo color del borde), transition determina si el boton tiene una transición de color y time el tiempo de transicion
@mixin button($background-color: white, $transparent: true, $font-size: 12pt, $color: white, $hover-color: white, $transition: true, $time: .5s, $full-size: true) {
    border: 2px solid $background-color;
    @if ($transparent == true) {
        background-color: transparent;
        color: $background-color;
    }@else {
        background-color: $background-color;
        color: $color;
    }
    font-size: $font-size;
    border-radius: $border-radius-base;
    outline: 0;
    padding: 10px 20px;
    @if ($full-size == true) {
        width: 100%;
        padding: 1em 0em;
    }
    @if ($transition == true) {
        transition: all $time ease;
        &:hover {
            @if ($transparent == true) {
                background-color: $background-color;
                color: $hover-color;
            }@else {
                background-color: transparent;
                color: $background-color;
            }
        }
    }
}
