//Responsive Break-points
$break-extra-small: 340px;
$break-small: 544px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

//Colors
$brand-primary: #0000AA;
$brand-secondary: #F16A01;
$gradient-blue: #1659CF;

//Border
$border-radius-base: 5px;

//Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

//Links
$link-color: blue;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;

//Body
$body-bg: #f5f8fa;

//Navbar
$navbar-height: 50px;
$navbar-default-bg: white;
$navbar-default-color: black;
$navbar-default-border: darken($brand-secondary, 6.5%);
$navbar-margin-bottom: 0px;

//Navbar links
$navbar-default-link-color: black;
$navbar-default-link-hover-color: $brand-secondary;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: #555;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);

//Navbar toggle
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: black;
$navbar-default-toggle-border-color: transparent;

//Footer
$footer-size: 30px;
