//Responsive Break-points
$break-extra-small: 340px;
$break-small: 544px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

//Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

//Links
$link-color: blue;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;

//Body
$body-bg: #f5f8fa;

//Navbar
$navbar-height: 50px;
$navbar-default-bg: #F4F6F6;
$navbar-default-color: black;
$navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-margin-bottom: 0px;

//Navbar links
$navbar-default-link-color: black;
$navbar-default-link-hover-color: grey;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: #555;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);

//Navbar toggle
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: black;
$navbar-default-toggle-border-color: transparent;

//Footer
$footer-size: 30px;
