.blue-background {
    background-color: #e6e6ff;
}
.box-shadow {
    box-shadow: 0 3px 6px 1px rgba(0,0,0,.08), 0 7px 14px 1px rgba(50,50,93,.1);
}
.no-animation {
    animation: none;
}
.orange-background {
    background-color: #fff0e6;
}
.pd-top-50 {
    padding-top: 50px;
}
.position-relative {
    position: relative;
}
.stick-to-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: -1px; 
}
.margin-auto {
    margin: auto;
}
.mg-top-10 {
    margin-top: 10px;
}
.mg-btm-20 {
    margin-bottom: 20px;
}
.mg-0 {
    margin: 0;
}
.pd-0{
    padding: 0px;
}
.pd-20{
    padding: 20px;
}
.color-secondary {
    color: $brand-secondary;
}
.color-primary {
    color: $brand-primary;
}
.borderless tbody tr td,
.borderless tbody tr th,
.borderless thead tr th,
.borderless thead tr td,
.borderless tfoot tr th,
.borderless tfoot tr td,
.borderless {
    border: none;
}

// Sweet Alert 2 Overrides
.swal2-icon.swal2-error {
    border-color: $brand-secondary;
}
.swal2-icon.swal2-error .line {
    background-color: $brand-secondary;
}
.swal2-icon.swal2-success {
    border-color: $brand-primary;
}
.swal2-icon.swal2-success .line {
    background-color: $brand-primary;
}
.swal2-icon.swal2-success .placeholder {
    border: 4px solid $brand-primary;
}



