.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.blue-background {
    background-color: #e6e6ff;
}
.borderless tbody tr td,
.borderless tbody tr th,
.borderless thead tr th,
.borderless thead tr td,
.borderless tfoot tr th,
.borderless tfoot tr td,
.borderless {
    border: none;
}
.box-shadow {
    box-shadow: 0 3px 6px 1px rgba(0,0,0,.08), 0 7px 14px 1px rgba(50,50,93,.1);
}
.color-primary {
    color: $brand-primary;
}
.color-purple {
    color: $brand-purple;
}
.color-red {
    color: $brand-red;
}
.color-secondary {
    color: $brand-secondary;
}
.color-white {
    color: white;
    &:hover {
        color: white;
    }
}
.color-grey {
    color: #546e7a;
}
.grey-background {
    background-color: #f5f7f9;
}
.large {
    font-size: 2em;
}
.left-5 {
    left: 5%;
}
.margin-auto {
    margin: auto;
}
.mg-rgt-10 {
    margin-right: 10px;
}
.mg-top-10 {
    margin-top: 10px;
}
.mg-btm-20 {
    margin-bottom: 20px;
}
.mg-btm-50 {
    margin-bottom: 50px;
}
.mg-0 {
    margin: 0;
}
.no-animation {
    animation: none;
}
.orange-background {
    background-color: #fff0e6;
}
.pd-0 {
    padding: 0px !important;
}
.pd-20 {
    padding: 20px;
}
.pd-btm-50 {
    padding-bottom: 50px;
}
.pd-btm-25 {
    padding-bottom: 25px;
}
.pd-top-50 {
    padding-top: 50px;
}
.pd-top-8 {
    padding-top: 8px;
}
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
.right-5 {
    right: 5%;
}
.scroll-y {
    overflow-y: scroll;
}
.scroll-x {
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
}
.stick-to-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0px 0px 3px 3px;
    margin-bottom: -1px; 

    &-left {
        left: 0;
    }
}
.top-0 {
    top: 0;
}
.top-40 {
    top: 40%
}
.white-background {
    background-color: white;
}
.width-150-px {
    width: 150px;
}
.main-title {
    padding-left: 15px;
    margin: 25px 0px;
}

// Vue js
[v-cloak] {
  display: none;
}

// Sweet Alert 2 Overrides
.swal2-icon.swal2-error {
    border-color: $brand-secondary;
}
.swal2-icon.swal2-error .line {
    background-color: $brand-secondary;
}
.swal2-icon.swal2-success {
    border-color: $brand-primary;
}
.swal2-icon.swal2-success .line {
    background-color: $brand-primary;
}
.swal2-icon.swal2-success .placeholder {
    border: 4px solid $brand-primary;
}
.swal2-modal .swal2-textarea {
    // Copiado de la clase Form
    display: block;
    width: 100%;
    line-height: 1.5;
    border: none;
    border-bottom: solid 1px lightgrey;
    color: black;
    box-shadow: none;
    font-weight: normal;
    // height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 0px;
    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
        border-bottom: solid 2px $brand-primary;
    }
}
.swal2-modal .swal2-title {
    // Copiado de la clase Modal__header
    font-size: 13pt;
    color: $brand-primary;
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: normal;
}