.background-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.blue-background {
    background-color: #e6e6ff;
}
.borderless tbody tr td,
.borderless tbody tr th,
.borderless thead tr th,
.borderless thead tr td,
.borderless tfoot tr th,
.borderless tfoot tr td,
.borderless {
    border: none;
}
.box-shadow {
    box-shadow: 0 3px 6px 1px rgba(0,0,0,.08), 0 7px 14px 1px rgba(50,50,93,.1);
}
.color-primary {
    color: $brand-primary;
}
.color-purple {
    color: $brand-purple;
}
.color-red {
    color: $brand-red;
}
.color-secondary {
    color: $brand-secondary;
}
.color-white {
    color: white;
    &:hover {
        color: white;
    }
}
.large {
    font-size: 2em;
}
.left-5 {
    left: 5%;
}
.margin-auto {
    margin: auto;
}
.mg-top-10 {
    margin-top: 10px;
}
.mg-btm-20 {
    margin-bottom: 20px;
}
.mg-0 {
    margin: 0;
}
.no-animation {
    animation: none;
}
.orange-background {
    background-color: #fff0e6;
}
.pd-0{
    padding: 0px;
}
.pd-20{
    padding: 20px;
}
.pd-btm-50 {
    padding-bottom: 50px;
}
.pd-top-50 {
    padding-top: 50px;
}
.pd-top-8 {
    padding-top: 8px;
}
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
.right-5 {
    right: 5%;
}
.stick-to-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: -1px; 
}
.top-40 {
    top: 40%
}

// Sweet Alert 2 Overrides
.swal2-icon.swal2-error {
    border-color: $brand-secondary;
}
.swal2-icon.swal2-error .line {
    background-color: $brand-secondary;
}
.swal2-icon.swal2-success {
    border-color: $brand-primary;
}
.swal2-icon.swal2-success .line {
    background-color: $brand-primary;
}
.swal2-icon.swal2-success .placeholder {
    border: 4px solid $brand-primary;
}



