@import "abstracts/variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "abstracts/mixins";
@import "abstracts/elements";

// Sweet Alert 2
@import "node_modules/sweetalert2/src/sweetalert2";

// Dropify
@import "node_modules/dropify/dist/css/dropify.min";

// Dragula
@import "node_modules/dragula/dist/dragula.min";

@import "layout/footer";
@import "layout/navbar";
@import "layout/forms";

@import "components/banner";
@import "components/bullet";
@import "components/button";
@import "components/card";
@import "components/form";
@import "components/item";
@import "components/icon";
@import "components/modal";
@import "components/scroller";
@import "components/spinner";
@import "components/thumbnail";

@import "pages/home/landing";
@import "pages/home/services";
@import "pages/home/benefit";
@import "pages/about";
@import "pages/address";
@import "utilities";
