@import "abstracts/variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "abstracts/mixins";
@import "abstracts/elements";

// Sweet Alert 2
@import "node_modules/sweetalert2/src/sweetalert2";

@import "layout/footer";
@import "layout/navbar";
@import "layout/forms";

@import "components/button";
@import "components/modal";

@import "pages/home/landing";
@import "pages/home/services";
@import "pages/home/benefit";
